/* rohini */

/* john */

/* nita */
.para-container1 {
    display:block;

     margin-left:40px;
     margin-right: 80px;
     margin-top:80px ;
     font-size :28px;
     font-weight: 400;
      text-align:center ;
   font-family: Roboto, sans-serif;
   color: rgb(89, 92, 93);
   box-sizing: border-box;
   align-content: center;
   
}
.para-container1 p{
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
    }

.para-container2 h2{
    display: block;
    box-sizing: border-box;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color:inherit;
    color:#595c5d;
    text-align: center;
    margin-top: 50px;
    gap: 10px 10px;
    align-items: stretch;
    }
    .para-container3{
        display: flex;
        margin-top: 5%;
    }
    .image-container1{
        max-height: fit-content;
        margin-left: 20%;
        max-height:600px ;
        max-width: 600px;
       
    


    }
    
    p{ 
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end:0px;
        margin-left:50px ;
        margin-right: 50px;
        margin-right:20% ;
        font-size: larger;

    }

    .para-container7{
        display:flex;
    }
    .para-container5 h2{
text-align: center;
color:#595c5d;
box-sizing: border-box;
    }
    .para-container5{
        margin-top: 50px;

    }
    .para-container6{
        margin-top:40px ;
        margin-bottom:30px ;
    }
    .para-container6 h3{
        color: #595c5d;
       margin-bottom: 17px;
       text-align: center;

    }
    .para-container6 p{
        color: #595c5d;
        font-family: sans-serif;
        margin-top: 10px;
        box-sizing: border-box;
        text-align: center;
        display: block;
        --widgets-spacing: 20px 20px;
        margin-left: 40%;
        margin-right:40% ;

 }
 .para-container7{
    display: flex;

 }
 .para-container7 h3{
    color: #595c5d;
       margin-bottom: 17px;
       text-align: center;
 }
 .para-container7 p{
    display: flex;
    color: #595c5d;
    font-family: sans-serif;
    margin-top: 10px;
    box-sizing: border-box;
    text-align: center;
    display: block;
    --widgets-spacing: 20px 20px;
    margin-left: 40%;
    margin-right:40% ;
 }
 
 
 .para-container8{
    display: flex;
 }
 .div1 h3 {
    margin-left:30%;
    margin-right: 40px;
 }
 .div1 p {
    margin-left:30%
 }
 .div2 p{
    margin-right:30% ;
    margin-left: 30%;
    margin-top: 10px;
 }
 .div2 h3{
    margin-left:30% ;
    margin-top: 20px;
 }



 
 
 









/* anh */