/* rohini */

.container-fluid {
  /* display: flex;
    justify-content: center; */
  /* padding-left: 2rem; */
  /* text-align: center; */
}

/* john */
Anh Truong 😇
anhtruong1407
Online
Andrej [WDG#011 - Alumni] — 10.07.2023 10:23
Andrejrey
Timotheus [WD#040 - Alumni] — 10.07.2023 10:23
quasargetter
Adnan [WD#039 - Alumni] — 10.07.2023 10:44
guys, if u download the project zip, tehre u will find the style-guide.md file, u can open this file in vscode, where some style instructions are written,
# Front-end Style Guide


## Layout

The designs were created to the following widths:
Mehr anzeigen
style-guide.md
2 kB
just for reference
Timotheus [WD#040 - Alumni] — 10.07.2023 11:15
how did you manage to do the npm start command ? 🙂 having troubles atm
Timotheus [WD#040 - Alumni] — 10.07.2023 11:23
npm install is not working
Wenjun [WD#040 - Alumni] — 10.07.2023 11:25
for me after installing , npm run dev would work
Timotheus [WD#040 - Alumni] — 10.07.2023 11:37
hm ok thanks, i´ll try it again
Timotheus [WD#040 - Alumni] — 10.07.2023 12:53
sorry I'm away for approximately 15 mins
Andrej [WDG#011 - Alumni] — 10.07.2023 13:51
i pushed my part to the repository
Adnan [WD#039 - Alumni] — 10.07.2023 14:10
i pushed my part too
Andrej [WDG#011 - Alumni] — 10.07.2023 14:26
i did my css in app.css 😂
Adnan [WD#039 - Alumni] — 10.07.2023 14:29
no worries
great work guys
all
Andrej [WDG#011 - Alumni] — 10.07.2023 14:42
can we meet at 15:00
Wenjun [WD#040 - Alumni] — 10.07.2023 14:45
yes
Andrej [WDG#011 - Alumni] — 10.07.2023 14:47
👍
Adnan [WD#039 - Alumni] — 10.07.2023 14:59
ok
Kim [WD#040 - Alumni] — 14.08.2023 09:31
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
CSS-Tricks
Chris Coyier
A Complete Guide to Flexbox | CSS-Tricks
Our comprehensive guide to CSS flexbox layout. This complete guide explains everything about flexbox, focusing on all the different possible properties for the parent element (the flex container) and the child elements (the flex items). It also includes history, demos, patterns, and a browser support chart.
A Complete Guide to Flexbox | CSS-Tricks
https://excalidraw.com/#room=00561235c5b416735f25,fU4Z3l1vW87RpSjYSGGlSw
Excalidraw
Excalidraw — Collaborative whiteboarding made easy
Excalidraw is a virtual collaborative whiteboard tool that lets you easily sketch diagrams that have a hand-drawn feel to them.
Excalidraw — Collaborative whiteboarding made easy
Christoph [WD#041 - Alumni] — 14.08.2023 09:49
Bild
Kim [WD#040 - Alumni] — 14.08.2023 10:46
https://justjavascript.com/
Just JavaScript
Just JavaScript
Just JavaScript will help you develop a rock-solid understanding of how JavaScript works through intuitive visual explanations and learning challenges.
Just JavaScript
https://www.youtube.com/watch?v=rzwaaWH0ksk
YouTube
Theo - t3․gg
Your Goals Kinda Suck - LEVEL UP As A Developer
Bild
Kim [WD#040 - Alumni] — 14.08.2023 10:54
https://www.youtube.com/@ColorCodeio
YouTube
ColorCode
Coding Tutorials for regular people! 🎉👨🏻‍💻📽
Bild
Jennifer [WD#042 - Reagan] — 11.09.2023 09:28
https://world.benetton.com/
Benetton
United Colors of Benetton - Official Website | Shop Online
Check out the United Colors of Benetton 2023 Collection for Women, Men, Boys, Girls and Baby - Free returns.
Bild
Nita [WD#042 - Reagan] — 11.09.2023 09:38
nitamathur33@gmail.com
Jerry [WD#041 - Alumni] — 11.09.2023 09:38
jennifer 1 (header)-5
nita 2&3 (body)
Jerry footer & 4
Jennifer [WD#042 - Reagan] — 11.09.2023 09:39
jennifer.r.rothrock@gmail.com
Jennifer [WD#042 - Reagan] — 11.09.2023 09:57
The font is Gill Sans Nova but it's not free so the Google Fonts equivalent is Lato.
https://fonts.google.com/specimen/Lato
Google Fonts
Lato - Google Fonts
Lato is a sans serif typeface family started in the summer of 2010 by Warsaw-based designer Łukasz Dziedzic (“Lato” means “Summer” in Polish). In December 2010
Lato - Google Fonts
color codes: black: #000000, white: #ffffff
and here's a screenshot for the gradient info in the footer.
Bild
Jerry [WD#041 - Alumni] — 11.09.2023 10:03
thank you jennifer!
its setup now you can clone or pull
Jennifer [WD#042 - Reagan] — 11.09.2023 10:05
here is the chrome extension what font so you can check the font sizes etc.
https://chrome.google.com/webstore/detail/whatfont/jabopobgcpjmedljpbcaablpmlmfcogm
WhatFont
The easiest way to identify fonts on web pages.
Bild
and it seems like the icons in the footer came from here: https://fontawesome.com/v4/
Font Awesome, the iconic font and CSS toolkit
Font Awesome, the iconic font and CSS framework
Jerry [WD#041 - Alumni] — 11.09.2023 10:10
ive included the lato font btw
in the css pls pull
Jennifer [WD#042 - Reagan] — 11.09.2023 10:35
there is a second font on the page, I'm trying to find a Google equivalent.
Libra Baskerville is similar
https://fonts.google.com/specimen/Libre+Baskerville
Google Fonts
Libre Baskerville - Google Fonts
Libre Baskerville is a web font optimized for body text (typically 16px.) It is based on the American Type Founder's Baskerville from 1941, but it has a taller
Libre Baskerville - Google Fonts
Jerry [WD#041 - Alumni] — 11.09.2023 10:41
Bild
Jennifer [WD#042 - Reagan] — 11.09.2023 11:02
and here's the logo
Bild
Jerry [WD#041 - Alumni] — 11.09.2023 11:35
awesome!
Jennifer [WD#042 - Reagan] — 11.09.2023 13:25
https://meet.google.com/nze-xhzd-uxq
Meet
Real-time meetings by Google. Using your browser, share your video, desktop, and presentations with teammates and customers.
Bild
Nita [WD#042 - Reagan] — 11.09.2023 13:32
just give me 10 min.
Jennifer [WD#042 - Reagan] — 11.09.2023 14:59
https://meet.google.com/xha-aqmb-zcj
Meet
Real-time meetings by Google. Using your browser, share your video, desktop, and presentations with teammates and customers.
Bild
Jennifer [WD#042 - Reagan] — 11.09.2023 16:03
we don't have to go to the group call now, we still have 30 minutes.
https://meet.google.com/iec-dkgr-sxo
Meet
Real-time meetings by Google. Using your browser, share your video, desktop, and presentations with teammates and customers.
Bild
Jennifer [WD#042 - Reagan] — 11.09.2023 17:03
@Jerry [WD#041 - Alumni] Enrique is asking for the link for our page to added to the crossover general chat. Thanks!
Gianni [WD#042 - Reagan] — heute um 09:12 Uhr
can you guys hear me?
Nita [WD#042 - Reagan] — heute um 09:12 Uhr
no
Rohini [WD#043 - Lilian] — heute um 09:12 Uhr
no
Nita [WD#042 - Reagan] — heute um 09:13 Uhr
lets meet on google meet
Gianni [WD#042 - Reagan] — heute um 09:13 Uhr
yeah lets go on google meets
Nita [WD#042 - Reagan] — heute um 09:13 Uhr
https://meet.google.com/mgc-qwnb-cfq
Meet
Real-time meetings by Google. Using your browser, share your video, desktop, and presentations with teammates and customers.
Bild
Anh_Truong [WDG#012 - Sarah] — heute um 10:10 Uhr
bootstrap added
Rohini [WD#043 - Lilian] — heute um 10:21 Uhr
hey bootstrap link should be 1st and then css link
v want css to be the ultimate final style over-riding everything
i changed accordingly in main
everyone please pull main so that u will have bootstrap also
Gianni [WD#042 - Reagan] — heute um 10:45 Uhr
i will create an assets folder too where we can store the images, i should have done that earlier but i forgot
Gianni [WD#042 - Reagan] — heute um 11:58 Uhr
we have a meeting in 2 minutes to check up?
Nita [WD#042 - Reagan] — heute um 12:00 Uhr
ok
but where
Gianni [WD#042 - Reagan] — heute um 12:01 Uhr
i will create a google meet link
Nita [WD#042 - Reagan] — heute um 12:01 Uhr
ok
Gianni [WD#042 - Reagan] — heute um 12:01 Uhr
https://meet.google.com/uif-wpmx-ioo
Meet
Real-time meetings by Google. Using your browser, share your video, desktop, and presentations with teammates and customers.
Bild
Anh_Truong [WDG#012 - Sarah] — heute um 12:02 Uhr
hi, should we meet up before lunch break
Gianni [WD#042 - Reagan] — heute um 12:05 Uhr
rgb(230, 230, 230)
@Rohini [WD#043 - Lilian] are you free to join the call?
Gianni [WD#042 - Reagan] — heute um 12:16 Uhr
rohini can you push your changes after tge break? if you have trouble then we can call and resolve conflicts together
Nita [WD#042 - Reagan] — heute um 12:19 Uhr
we will meet at 2:30 again
Rohini [WD#043 - Lilian] — heute um 12:21 Uhr
i am done with nav bar
in hero section
Anh_Truong [WDG#012 - Sarah] — heute um 13:19 Uhr
I took another section more, THE ONLY CODING BOOTCAMP THAT ADAPTS ITSELF TO YOU.
John took another but I don't remember what 😅 . If you are done with your previous section and want to take care the next page, just let us know !
@Gianni [WD#042 - Reagan] which section did you take?
Gianni [WD#042 - Reagan] — heute um 13:29 Uhr
i took the section with the title "YOUR FAST-TRACK INTO A CAREER YOU LOVE 
EVEN IF YOU HAVE ZERO PRIOR EXPERIENCE"
Rohini [WD#043 - Lilian] — heute um 13:32 Uhr
@Anh_Truong [WDG#012 - Sarah]
Gianni [WD#042 - Reagan] — heute um 13:42 Uhr
hey guys, is it ok if someone can take over the dropdown button in the footer for me? i havent used bootstrap before and i dont want to spend too much time on it, if not i can just add a static button
Anh_Truong [WDG#012 - Sarah] — heute um 13:52 Uhr
i think we just skip when it takes too much time, just move forward with next section. If we have time after 3pm, we will take a look at this detail together
Nita [WD#042 - Reagan] — heute um 14:02 Uhr
i would suggest to skip it
Nita [WD#042 - Reagan] — heute um 14:30 Uhr
https://meet.google.com/zcf-ztdt-tzj
Meet
Real-time meetings by Google. Using your browser, share your video, desktop, and presentations with teammates and customers.
Bild
Anh_Truong [WDG#012 - Sarah] — heute um 14:33 Uhr
Hi, should we meet up again
Gianni [WD#042 - Reagan] — heute um 14:35 Uhr
ok
Anh_Truong [WDG#012 - Sarah] — heute um 14:58 Uhr
Hi John, can you check, line 134-144 in css file, you are defining all <p>  having margin-right 20%, it is creating bugs for me.
Nita [WD#042 - Reagan] — heute um 15:05 Uhr
i got it ...my error has been solved
Gianni [WD#042 - Reagan] — heute um 15:19 Uhr
nice but now for some reason i got some problem where the footer divs are overlapping
Gianni [WD#042 - Reagan] — heute um 15:20 Uhr
i defined elements with class name "jp" where i added 5% margin to it but i might have made a mistake, it was in my section?
Nita [WD#042 - Reagan] — heute um 15:23 Uhr
i think so
well we can all solve it together after we all done
Gianni [WD#042 - Reagan] — heute um 15:30 Uhr
ok i just fixed my problem
pranita did you fix your section? i can give you help if you need
Nita [WD#042 - Reagan] — heute um 15:39 Uhr
its nita
yes i fixed it
Gianni [WD#042 - Reagan] — heute um 15:41 Uhr
ok we'll start our meeting in 5 minutes
Gianni [WD#042 - Reagan] — heute um 15:42 Uhr
did you make it look like the website? if not we can try to fix it very quickly
Nita [WD#042 - Reagan] — heute um 15:44 Uhr
https://meet.google.com/hxb-jsqm-skr
Meet
Real-time meetings by Google. Using your browser, share your video, desktop, and presentations with teammates and customers.
Bild
Gianni [WD#042 - Reagan] — heute um 15:50 Uhr
.jfooter{
    background-color: rgb(230, 230, 230);
}
.jbottomleft{
    width: 60%;
    display: flex;
Mehr anzeigen
message.txt
3 kB
﻿
.jfooter{
    background-color: rgb(230, 230, 230);
}
.jbottomleft{
    width: 60%;
    display: flex;
    align-items: center;
}
.jsomething{
    height: 50vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
    border-radius: 20px 20px 20px 20px;
}
.jButton{
    border: 2px solid rgb(71, 92, 129);
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    color: rgb(71, 92, 129);
}
.jButton:hover {
    transition: ease 0.3s;
    background-color: rgb(71, 92, 129);
    color: white;
}
.jmiddle{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.jp{
    padding: 0;
    margin: 5%;
    margin-left: 0;
    text-align: left;
}
.jtext{
    width: 50%;
}
.jpng{
    height: 90%;
    margin-bottom: 0;
    padding-bottom: 0;
}
.dropdown{
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    width: 10%;
}
.jEU{
    padding: 0;
    margin: 0;
}
#dropdownMenuButton{
    display: flex;
    height: 40px;
    background-color: white;
    color: rgb(71, 72, 73);
}
.dropdown-toggle::after {
    color: rgb(71, 92, 129);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover{
    background-color: rgb(71, 92, 129);
    color: white;
    text-decoration: none;
}
.jinfo{
    display: flex;
    margin-left: 5%;
    width: 80vw;
    padding: 0;
    align-self: center;
    border-bottom: 2px solid white;
}
.jinfo1{
    margin: 5%;
    text-align: left;
}
.jinfo12{
    margin: 5%;
    text-align: left;
    margin-left: 0;
}
.jarrow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(71, 92, 129);
    width: 40px;
    border-radius: 50%;
    margin-right: 5%;
    margin-top: 3%;
    color: white;
}
.theArrowJ{
    display: flex;
    justify-content: right;
}
.theArrowJ :hover{
    transition: ease 0.3s;
    cursor: pointer;
    background-color: white;
    color: rgb(71, 92, 129);
    border: 2px solid rgb(71, 92, 129)
}
.jUL{
    list-style: none;
    padding: 0;
    text-align: left;
    width: 170px;
    margin-top: 15%;
}
.jLI{
    padding: 0;
    margin: 0;
    font-weight: lighter;
}
.jH4{
    display: flex;
    font-weight: lighter;
}
.jfooterbottom{
    width: 80vw;
    display: flex;
    align-items: center;
    margin-left: 5%;
    justify-content: space-between;
    text-align: center;
}
.jbottomleft{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fa{
    background-color: rgb(71, 72, 73);
    height: 20px;
    color: white;
}
.jlogos{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.jlogos a {
    display: flex;
    align-items: center;
    align-items: center;
    text-decoration: none; 
    margin: 5%;
}
/* nita */


.para-container1 {
display:block;
 margin-left:40px;
     margin-right: 80px;
     margin-top:80px ;
     font-size :28px;
     font-weight: 400;
      text-align:center ;
   font-family: Roboto, sans-serif;
   color: rgb(89, 92, 93);
   box-sizing: border-box;
   align-content: center;
   
}
.para-container1 p{
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
    }

.para-container2 h2{
    display: block;
    box-sizing: border-box;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color:inherit;
    color:#595c5d;
    text-align: center;
    margin-top: 50px;
    gap: 10px 10px;
    align-items: stretch;
    }
    .para-container3{
        display: flex;
        margin-top: 5%;
    }
    .image-container1{
        max-height: fit-content;
        margin-left: 20%;
        max-height:600px ;
        max-width: 600px;
       }
    

        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end:0px;
        margin-left:50px ;
        margin-right: 50px;
        margin-right:20% ;
        font-size: larger;

    }

    .para-container7{
        display:flex;
    }
    .para-container5 h2{
text-align: center;
color:#595c5d;
box-sizing: border-box;
    }
    .para-container5{
        margin-top: 50px;

    }
    .para-container6{
        margin-top:40px ;
        margin-bottom:30px ;
    }
    .para-container6 h3{
        color: #595c5d;
       margin-bottom: 17px;
       text-align: center;

    }
    .para-container6 p{
        color: #595c5d;
        font-family: sans-serif;
        margin-top: 10px;
        box-sizing: border-box;
        text-align: center;
        display: block;
        --widgets-spacing: 20px 20px;
        margin-left: 40%;
        margin-right:40% ;

 }
 .para-container7{
    display: flex;

 }
 .para-container7 h3{
    color: #595c5d;
       margin-bottom: 17px;
       text-align: center;
 }
 .para-container7 p{
    display: flex;
    color: #595c5d;
    font-family: sans-serif;
    margin-top: 10px;
    box-sizing: border-box;
    text-align: center;
    display: block;
    --widgets-spacing: 20px 20px;
    margin-left: 40%;
    margin-right:40% ;
 }
 
 
 .para-container8{
    display: flex;
 }
 .div1 h3 {
    margin-left:30%;
    margin-right: 40px;
 }
 .div1 p {
    margin-left:30%;
    color: #595c5d;
 }
 .div2 p {
    margin-right:30% ;
    margin-left: 30%;
    margin-top: 10px;
    color: #595c5d;
 }
 .div2 h3{
    margin-left:30% ;
    margin-top: 20px;
 }





/* anh */
.cards-wrapper {
  display: flex;
  flex-direction: row;
  margin: 5rem 7rem;
}
.card {
  margin: 0 1em;
  width: calc(100% / 3);
  border-radius: 30px;
}
.card-body button {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
}
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page2-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.page2-line {
  width: 140px;
  height: 4px;
  background-color: #007398;
  margin-top: 1rem;
}
.page2 {
  background-color: rgb(230, 230, 230);
}
/*anh-page6*/
.page6-line {
  width: 140px;
  height: 4px;
  background-color: #007398;
  margin-top: 1rem;
}
.middle-cards-1,
.middle-cards-2,
.middle-cards-3 {
  width: 380px;
  height: 380px;
  border: none;
  border-radius: 30px;
  margin-left: 2rem;
  text-align: center;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
}
.page6-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.page6 {
  background-color: rgb(230, 230, 230);
  padding-top: 5rem;
}
.page6-title,
.page6-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.page6-para {
  padding-bottom: 3rem;
}
.middle-cards-1 i,
.middle-cards-2 i,
.middle-cards-3 i {
  padding-bottom: 1rem;
}
.page6-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
